@import "tailwindcss";

@theme {
  --color-primary: #176A4A;
  --color-secondary: #4CAF50;
  --color-accent: #7C4DFF;
  --color-background: #F7F7F5;
  --color-text: #2A2A2A;

  --font-raleway: "Raleway", sans-serif;
}
