@import 'tailwindcss';

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

@theme {
  --color-primary: #176a4a;
  --color-secondary: #4caf50;
  --color-accent: #7c4dff;
  --color-background: #f7f7f5;
  --color-text: #2a2a2a;

  --font-raleway: 'Raleway', sans-serif;
}
